<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Estilos.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
        <header>         
                <h1>¿Hay vida en otros planetas? - Sistemas solares</h1>           
        </header>

        <section>
            <article>

                @RenderBody()
            </article>

        </section>

        <aside>

            <article>
                <div>
                    <a href="/">Contenido Relacionado</a><br/><br/><br/>
                    <a href="/">Contenido Relacionado2</a>
                </div>

            </article>

        </aside>

        <footer>
            <p>
               ¿Hay vida en otros planetas? - 2020

            </p>

        </footer>
    </div>
   
</body>
</html>
